<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery2.js"></script>
	<script src="script.js"></script>
	<meta charset="UTF-8">
	<title>Jquery Content slider</title>
</head>
<body>
<h1>Content Slider</h1>

<div id="container">
			<img src="leftarrow.png" alt="leftslider" height="90px" width="90px" id="leftslide">

	<div class="imageslider">
		<div class="slide">
			<div class="slidecopy">
				<h2>slider one</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
			</div> <!--slidecopy closed-->
			<img src="aboutme.jpg" alt="slide1">
		</div> <!--activeslide1 closed-->

		<div class="slide">
			<div class="slidecopy2">
				<h2>slider two</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
			</div>
			<img src="myresume.jpg" alt="slide2">
		</div>
		<div class="slide">
			<div class="slidecopy3">
				<h2>slider three</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
			</div>
			<img src="portfolio.jpg" alt="slide3">
		</div>
		<div class="slide">
			<div class="slidecopy4">
				<h2>slider four</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
			</div>
			<img src="contactme.jpg" alt="slide4">
		</div>
		<div class="slide">
			<div class="slidecopy5">
				<h2>slider five</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
			</div>
			<img src="twitter.jpg" alt="slide5">
		</div>

	</div> <!--imageslider closed-->
		

	<img src="rightarrow.png" alt="rightslider" height="90px" width="90px" id="rightslide">
		
		

</div> <!--container closed-->


</body>
</html>