<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery2.js"></script>
	<script src="script.js"></script>

	<title>FAQ slider</title>
</head>
<body>
<div class="container">
	<h1>FAQ slider</h1>
		<div class="wrapper">
			<ul>
				<li class="Q"><img src="arrow.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
					
				<li class="answer">
					<p>Suspendisse sit amet elit lacinia, feugiat magna at, luctus massa. Aliquam sodales dictum nulla. consectetur adipiscing elit.</p>
				</li> <!--answer closed-->
				
				<li class="Q"> <img src="arrow.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
				<li class="answer">
					<p>Suspendisse sit amet elit lacinia, feugiat magna at, luctus massa. Aliquam sodales dictum nulla. consectetur adipiscing elit.</p>
				</li> <!--answer closed-->
				
				<li class="Q"><img src="arrow.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
				<li class="answer">
					<p>Suspendisse sit amet elit lacinia, feugiat magna at, luctus massa. Aliquam sodales dictum nulla. consectetur adipiscing elit.</p>
				</li> <!--answer closed-->
				
				<li class="Q"><img src="arrow.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
				<li class="answer">
					<p>Suspendisse sit amet elit lacinia, feugiat magna at, luctus massa. Aliquam sodales dictum nulla. consectetur adipiscing elit.</p>
				</li> <!--answer closed-->
				
				<li class="Q"><img src="arrow.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit?</li>
				<li class="answer"><p>Suspendisse sit amet elit lacinia, feugiat magna at, luctus massa. Aliquam sodales dictum nulla. consectetur adipiscing elit.</p>
				</li> <!--answer closed-->
			</ul>

			
		</div> <!--wrapper closed-->

</div> <!--container closed-->
</body>
</html>