<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aditya Chakravarthy</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery2.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div class="container">
		<!-- <div class="header">
			<h2>My Portfolio</h2>
		</div> <!--header closed--> 		
			<div class="wrapper">
				<div class="navbar">
					<ul>
						<li><a href="../aboutme/aboutme.html"><img src="images/about me.png"><span>About me</span></a>
								<ul>
									<li><a href="#">about me</a></li>
									<li><a href="#">My Hobbies</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">My Testimonials</a></li>
								</ul>
						</li>
						<li> <a href="../portfolio/potfolio.html"><img src="images/portfolio.jpg"><span>My Folio</a></span>
							<ul>
										<li><a href="#">The Quiz Project</a></li>
										<li><a href="#">Content Slider project</a></li>
										<li><a href="#">Jquery Apple slider</a></li>
										<li><a href="#">Sample FAQ Project</a></li>
							</ul>
						</li>
						<li><a href="../resume/resume.html"><img src="images/resume.jpg"><span>Resume</span></a>

							<ul>
									<li><a href="#">about me</a></li>
									<li><a href="#">My Hobbies</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">My Testimonials</a></li>
							</ul>
						</li>
						<li> <a href="../contact/contact.html"><img src="images/contact me.jpg"><span>Contact me</span></a>
							<ul>
									<li><a href="#">about me</a></li>
									<li><a href="#">My Hobbies</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">My Testimonials</a></li>
							</ul>

						</li>
						<li><a href="../chat/chat.html"><img src="images/chat.jpeg"><span>Chat</span></a>
								<ul>
										<li><a href="#">about me</a></li>
										<li><a href="#">My Hobbies</a></li>
										<li><a href="#">Sports</a></li>
										<li><a href="#">My Testimonials</a></li>
								</ul>
						</li>	

					</ul>
				</div> <!--navbar closed-->

				<div class="leftside">
					<div class="myimage">
						<img src="images/mypic (2).jpg">
					</div> <!--myimage closed-->
				

					<div class="social">
						<ul>
							<li><a href="#"><img src="images/facebook.png">Facebook</a></li>
							<li><a href="#"><img src="images/gmail.jpg">Gmail</a></li>
							<li><a href="#"><img src="images/twitter.jpg">Twitter</a></li>
						</ul>
						
					</div> <!--social closed-->
				</div> <!--leftside closed-->
						
						<div class="resumecontent">
							<h2>Aditya Chakravarthy</h2>
							<div class="objective">
								<p>
									I want to become a wed designer. I want to use my knowledge and skills to my advantage.<br>
									Apart from HTML,CSS,JavaScript and JQuery, I have done internship as Database Administrator.<br>
									In long term I want to see myself as a full front end developer. Currently I am learning Angular JS 
									and Polymer JS.
								</p>
							</div> <!--objective closed-->


							<div class="skillset">
								<h2>Skillset Summary</h2>
								<table>
									<tr>
										<th>Operating Systems </th>
										<th>Windows 95/NT/2000/XP, Vista, Windows 7,10</th>
									</tr>
									<tr>
										<th>Languanges </th>
										<th>PYTHON, HTML, C, JavaScript</th>
									</tr>
									<tr>
										<th>Databases </th>
										<th>MySQL, Oracle RDBMS</th>
									</tr>
									<tr>
										<th>Applications</th>
										<th>MS-Office</th>
									</tr>
									<tr>
										<th>Remote Desktop Tools</th>
										<th>WebEx, Teamviewer and Goto Metting</th>
									</tr>

								</table>
							</div><!--skillset closed-->
						</div> <!--resumecontent closed-->
				
			</div> <!--wrapper closed-->
						<div class="resumelink">
							<div class="grab">
								<img src="images/grab.jpg">
								<p>Grab my Resume</p>
							</div><!--grab closed-->
							<div class="resumedownloadlink">

								<a href="Aditya_chakravarthy.doc"><img src="images/resume.png"><span>Click here to download my Resume</span></a>
							</div><!--resumedownload link closed-->

						</div> <!--resumelink closed-->

			
	</div> <!--container closed-->
	<div class="footer">
				<div class="fimage">
					<img src="images/footer.jpg">
				</div> <!--fimageclosed-->
				<div class="fcontent">
					<p>Intereseted in designing websites Quick contact Mobile number <a href="#" id="reveal">Click to reveal </a><span id="phonenumber">0432454888</span></p><br>
					<p>Copyrights reserved @2016</p>
				</div><!--fcontent closed-->
	</div> <!--footer closed-->
	
</body>
</html>