<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Aditya Chakravarthy</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="jquery2.js"></script>
		<script src="script.js"></script>
	</head>
		<body>
			<div class="container">
				<!-- <div class="header">
					<h2>My Portfolio</h2>
				</div> <!--header closed--> 		
					<div class="wrapper">
						<div class="navbar">
							<ul>
								<li><a href="aboutme.html"><img src="images/about me.png"><span>About me</span></a>
										<ul>
											<li><a href="#readmore" class="readmore">More about me</a></li>
											<li><a href="#yogamore" class="yogamore">Yoga</a></li>
											<li><a href="#sports" class="sports">Sports</a></li>
											<li><a href="#" class="testimonials">My Testimonials</a></li>
										</ul>
								</li>
								<li> <a href="../portfolio/potfolio.html"><img src="images/portfolio.jpg"><span>My Folio</a></span>
									<ul>
										<li><a href="../Sample Quiz/index.html">The Quiz Project</a></li>
										<li><a href="../Content slider/index.html">Content Slider project</a></li>
										<li><a href="../applethumbslider/index.html">Jquery Apple slider</a></li>
										<li><a href="../faq slider/index.html">Sample FAQ Project</a></li>
									</ul>
								</li>
								<li><a href="../resume/resume.html"><img src="images/resume.jpg"><span>Resume</span></a>

									<ul>
											<li><a href="#">about me</a></li>
											<li><a href="#">My Hobbies</a></li>
											<li><a href="#">Sports</a></li>
											<li><a href="#">My Testimonials</a></li>
									</ul>
								</li>
								<li> <a href="../contact/contact.html"><img src="images/contact me.jpg"><span>Contact me</span></a>
									<ul>
											<li><a href="#">about me</a></li>
											<li><a href="#">My Hobbies</a></li>
											<li><a href="#">Sports</a></li>
											<li><a href="#">My Testimonials</a></li>
									</ul>

								</li>
								<li><a href="../chat/chat.html"><img src="images/chat.jpeg"><span>Chat</span></a>
										<ul>
												<li><a href="#">about me</a></li>
												<li><a href="#">My Hobbies</a></li>
												<li><a href="#">Sports</a></li>
												<li><a href="#">My Testimonials</a></li>
										</ul>
								</li>	

							</ul>
						</div> <!--navbar closed-->

						<div class="leftside">
							<div class="header">
								<h2>Aditya chakravarthy</h2>
								<img src="images/mypic.jpg">
							</div> <!--header closed-->
							
								<div class="social">
									<ul>
										<li><a href="#"><img src="images/facebook.png"><span>Facebook</span></a></li>
										<li><a href="#"><img src="images/gmail.jpg"><span>Gmail</span></a></li>
										<li><a href="#"><img src="images/twitter.jpg"><span>Twitter</span></a></li>
									</ul>
								
								</div> <!--social closed-->
							</div> <!--leftside closed-->
						

							
						

								
							<div class="content">
									<div class="para1">
											<header><b>About me</b></header>
										
										<p>Hi,I am freelance web developer. With expert level of knowledge in HTML,CSS,JavaScript and JQuery, I design attractive
										websites. I have got Masters in Information Systems. A friendly person with positive atttitude. Apart from web designing i am Trying to learn different languages (not programming) in my free time. More interested in learning new web technologies and make a pathway to become a full-time front end developer.</p>
									</div> <!--para1 closed-->
											<div class="moretext">
												<a href="#" class="readmore">More about me</a><br>
												<span id="moretext">
						        					This is the extra text, that will be shown after pressing the link above.
						   						</span>
					   						</div><!--moretext closed-->
				   						<div class="yoga">
				   							
												<a name="yogamore"></a>
												<div class="yogaimage">
					   								<h2>Yoga for healthier life</h2>
					   								<img src="images/yogaimage.jpg">
				   								</div><!--yoga image closed-->
						   								
						   							<p>
						   								Health is wealth. An half an hour exercise a day keeps a doctor away. I do Yoga everyday since
						   								my childhood. I particpated in many school events and won accolades for my yoga. Yoga has played an important part
						   								in my life. It helped me stay fit and healthy.
					   								</p>
					   					</div><!--yoga closed-->

				   							
				   						<div class="sports">	
				   							<a name="sports"></a>
				   							<div class="cricketimage">
					   								<h2>Sport a Life!!!</h2>
					   								<img src="images/sportsgif.gif">
				   								</div><!--yoga image closed-->
				   								
				   								<p>
				   									Sports is an important part of my life. Outdoor or Indoor game, will always keeps me fit and active.
				   									I represented under-16 cricket team for my district. I also played badminton and reprensetd 
				   									my district under-14. I still continue to play both games and they both are a important to my recreation.
				   								</p>

				   							</a>
			   							</div> <!--sports closed-->
			   							<div class="testimonials">

			   							</div> <!--testimonials closed-->
		   						
							</div> <!--content closed-->
						
					</div> <!--wrapper closed-->

					
			</div> <!--container closed-->

			<div class="footer">
				<div class="fimage">
					<img src="images/footer.jpg">
				</div> <!--fimageclosed-->
				<div class="fcontent">
					<p>Intereseted in designing websites Quick contact Mobile number <a href="#" id="reveal">Click to reveal</a>
					<span id="mobile">0432454888</span></p><br>
					<p>Copyrights reserved @2016</p>
				</div><!--fcontent closed-->
	</div> <!--footer closed-->
	
				

			<!-- <!-- <div class="footer">
						<div class="fimage">
							<img src="images/footer.jpg">
						</div> <!--fimageclosed-->
						<!-- <div class="fcontent">
							<p>Intereseted in designing websites Quick contact <a href="#" id="reveal">Click to reveal  <span id="mobile">0432454888</span></a></p><br>
							<p>Copyrights reserved @2016</p>
						</div><!--fcontent closed-->
			</div> <!--footer closed--> 
			 -->
		</body>
</html>