<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
		<script src="script.js"></script>
		<script src="jquery2.js"></script>
		<title>Apple Thumbslider</title>
	</head>
	<body>
		<div class="container">
			<div class="slider">
				<header>
					<h2>Jquery Apple slider</h2>
				</header>
					<div class="slides">
						<div class="slide"><img src="device-iphone.png" width="970px" height="200px"></div> <!--iphone closed-->
						<div class="slide"><img src="device-imac.png"  width="970px" height="200px"></div> <!--imac closed-->
						<div class="slide"><img src="device-macbook.png"  width="970px" height="200px"></div> <!--macbook closed-->
						<div class="slide"><img src="device-ipad.png"  width="970px" height="200px"></div> <!--ipad closed-->
					</div> <!--slide closed-->

					<div class="thumbnails">

						<ul>
							<li class="thumb" data-num="1"><a href="#"><img src="device-iphone-thumb.png"></li></a>
							<li class="thumb" data-num="2"><a href="#"><img src="device-imac-thumb.png"></li></a>
							<li class="thumb" data-num="3"><a href="#"><img src="device-macbook-thumb.png"></li></a>
							<li class="thumb" data-num="4"><a href="#"><img src="device-ipad-thumb.png"></li></a>
						</ul>
					</div> <!--thumbnails closed-->
			</div> <!--slider closed-->
		</div> <!--container closed-->
	</body>
</html>