<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aditya Chakravarthy</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery2.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div class="container">
		<!-- <div class="header">
			<h2>My Portfolio</h2>
		</div> <!--header closed--> 		
			<div class="wrapper">
				<div class="navbar">
					<ul>
						<li><a href="../aboutme/aboutme.html"><img src="images/about me.png"><span>About me</span></a>
								<ul>
									<li><a href="#">about me</a></li>
									<li><a href="#">My Hobbies</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">My Testimonials</a></li>
								</ul>
						</li>
						<li> <a href="../portfolio/potfolio.html"><img src="images/portfolio.jpg"><span>My Folio</a></span>
							<ul>
										<li><a href="../Sample Quiz/index.html">The Quiz Project</a></li>
										<li><a href="../Content slider/index.html">Content Slider project</a></li>
										<li><a href="../applethumbslider/index.html">Jquery Apple slider</a></li>
										<li><a href="../faq slider/index.html">Sample FAQ Project</a></li>
							</ul>
						</li>
						<li><a href="../resume/resume.html"><img src="images/resume.jpg"><span>Resume</span></a>

							<ul>
									<li><a href="#">about me</a></li>
									<li><a href="#">My Hobbies</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">My Testimonials</a></li>
							</ul>
						</li>
						<li> <a href="../contact/contact.html"><img src="images/contact me.jpg"><span>Contact me</span></a>
							<ul>
									<li><a href="#">about me</a></li>
									<li><a href="#">My Hobbies</a></li>
									<li><a href="#">Sports</a></li>
									<li><a href="#">My Testimonials</a></li>
							</ul>

						</li>
						<li><a href="../chat/chat.html"><img src="images/chat.jpeg"><span>Chat</span></a>
								<ul>
										<li><a href="#">about me</a></li>
										<li><a href="#">My Hobbies</a></li>
										<li><a href="#">Sports</a></li>
										<li><a href="#">My Testimonials</a></li>
								</ul>
						</li>	

					</ul>
				</div> <!--navbar closed-->

				<div class="leftside">
					<div class="myimage">
						<img src="images/mypic.jpg">
					</div> <!--myimage closed-->
				

					<div class="social">
						<ul>
							<li><a href="#"><img src="images/facebook.png">Facebook</a></li>
							<li><a href="#"><img src="images/gmail.jpg">Gmail</a></li>
							<li><a href="#"><img src="images/twitter.jpg">Twitter</a></li>
						</ul>
						
					</div> <!--social closed-->
				</div> <!--leftside closed-->
						
									<div class="slider">
											
										
											<div class="slides">
												
												<img src="images/quiz.jpg">
												<a href="../Sample Quiz/index.html" target="_blank"><p>Click to Test your JS skills</p></a>

											</div> <!--slides closed-->
											
											
											<div class="slides">
												
												<img src="images/contentslider.jpg">
												<a href="../Content slider/index.html" target="_blank"><p>Click here for JQuery content slider</p></a>
											</div> <!--slides closed-->
											
											<div class="slides">
												
												<img src="images/miletracker.jpg">
												<p>Count your steps</p>
											</div> <!--slides closed-->
											
										
											
											<div class="slides">
												
												<img src="images/macbook.jpg">
												<a href="../applethumbslider/index.html" target="_blank"><p>Click here for JQuery Apple Slider</p></a>
											</div> <!--slides closed-->
											<div class="slides">
												
												<img src="images/FAQ Slider.jpg">
												<a href="../faq slider/index.html" target="_blank"><p>Click here for JQuery sample FAQ effect</p></a>
											</div> <!--slides closed-->
																					
									</div> <!--slider closed-->
									<div class="arrows">
										<div class="leftarrow">
											<img src="images/leftarrow.png" alt="previous" id="leftarrow"> 
										</div> <!--rightarrow closed-->
										<div class="rightarrow">
											<img src="images/rightarrow.png" alt="right" id="rightarrow">
										</div><!--rightarrow closed-->
								</div><!..slider closed-->
								
			</div><!--wrapper closed-->

	</div> <!--container closed-->
	<div class="footer">
				<div class="fimage">
					<img src="images/footer.jpg">
				</div> <!--fimageclosed-->
				<div class="fcontent">
					<p>Intereseted in designing websites Quick contact Mobile number <a href="#" class="reveal">Click to reveal </a>  <span id="mobile">0432454888</span></p><br>
					<p>Copyrights reserved @2016</p>
				</div><!--fcontent closed-->
	</div> <!--footer closed-->
	
</body>
</html>